

 
  html {
    --s: 200px;
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    
    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
  }

  



   /* html {
    --s: 50px; 
    
    --_g: conic-gradient(at 50% 25%,#0000 75%,#f86466 0);
    background:
      var(--_g),var(--_g) var(--s) var(--s),
      var(--_g) calc(2*var(--s)) calc(2*var(--s)),
      var(--_g) calc(3*var(--s)) calc(3*var(--s)),
      repeating-linear-gradient(135deg,#000 0 12.5%,#fff 0 25%);
    background-size: calc(4*var(--s)) calc(4*var(--s))
  } */
  
  


  
  
  
  
  
  
  
  